:root {
  /* Добавить шрифт, если он не сработает */
  --main-font-text: "Roboto";
  /* Шрифт по-умолчанию. На случай, если не прогрузится основной */
  --main-default-font-text: sans-serif;
  --main-black-color: #000000;
  --main-text-black-color: #000000;
  --main-text-orange-color: #ff751d;
  --main-text-white-color: #ffffff;
  --main-text-color: #52555f;
  --main-input-color: #f6f7fb;
  /* 70% прозрачность текста */
  --main-second-text-color: rgb(82, 85, 95, 70%);
  --text-black-color: #000000;
  --text-white-color: #ffffff;
  --main-orange-color: #ff751d;
  --main-diagram-color: #ff751d;
  --main-second-diagram-color: #ffdac0;
  /* 20% прозрачность цвета */
  --main-second-orange-color: rgb(251, 124, 47, 20%);
  --mail-error-color: red;
  --main-grey-bg-color: #f2f5fc;
  --main-bg-white-color: #ffffff;
  --modal-color: #1d346a;
  /* Цвет для бэкграунда во вкладке "Доход" или "Расход" */
  --summary-bg-color: #f5f6fb;
  /* Цвет для неактивной вкладки "Доход" или "Расход" */
  --statistic-color: #fafbfd;
  /* Доход */
  --costs-color: #e53935;
  /* Расход */
  --income-color: #407946;
}
